# Database Configuration
MONGODB_URI=mongodb://localhost:27017/dms

# RabbitMQ Configuration
RABBITMQ_URL=amqp://localhost:5672
RABBITMQ_QUEUE=xray-queue

# Application Configuration
PORT=3000
NODE_ENV=development
